{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenido a mi página de recetas saludables!</h1>
    <p>¿Estás buscando un nuevo cambio en tu vida? Mira mis recetas y aprende a cocinar platos saludables!</p>
    <a href="{{path('recipes')}}" class="btn btn-success">Ver recetas</a>
{% endblock %}